{{define "about_active"}} class="active"{{end}}
{{define "blog_active"}}{{end}}
{{define "contact_active"}}{{end}}

{{define "section"}}about{{end}}

{{define "content"}}
<p>
  Yo. This is <span class="about_url">arponr.com</span>, the (lack
  of) product of an embarassing number of (wasted) hours, from the
  (obsessive and productivity-averse) mind of Arpon Paul Raksit (yes,
  Paul, cf. <a href="//megnapaula.com">my sister</a>). He evidently
  likes interjections and parentheses, and is pictured below posing
  gracefully in a tranquil garden.
</p>

<img src="/static/model_bw.jpg" class="about_model">

<p>
  Arpon is currently a student at Harvard College, mostly just
  studying math, but also claiming to study computer science. Aside
  from these two wonderful things, he enjoys tennis, running, music,
  and fiction.  The last of these primarily consists of an inordinate
  amount of television (<i>The
  Office</i>, <i>Community</i>, <i>Scrubs</i>, etc.) , but also, e.g.,
  reading Murakami and Vonnegut. The second to last is for the most
  part listening
  to <a href="//youtube.com/watch?v=VX3Y6ZWrRJE">Vampire Weekend</a>
  and <a href="//youtube.com/watch?v=S9F86cAoi3o">Toto's Africa</a>,
  but still includes playing saxophone once in a while. And the first
  involves a completely healthy (I swear) worship
  of <a href="//youtube.com/watch?v=lrBWS__Culk">Andy Murray</a>.
</p>

<p>
  Oh, and apparently he's playing around with web design. Speaking of
  which, this site was built in
  <a href="//golang.org/">Go</a>,
  on <a href="//developers.google.com/appengine/docs/go/">Google App
  Engine</a>, and is set
  in <a href="//arkandis.tuxfamily.org/adffonts.html">ADF</a>'s
  Baskervald throughout.
</p>
{{end}}
