{{define "nav_a"}} active{{end}}
{{define "nav_b"}}{{end}}
{{define "nav_c"}}{{end}}

{{define "content"}}
<section class="about">
  <header>
    <img class="image" src="/static/model.jpg">
  </header>

  <article class="section first text">
    <h1>Welcome</h1>
    <p>Yo. This is <span class="url">arponr.com</span>, the (lack of)
      product of an embarassing number of (wasted) hours, from the
      (obsessive and productivity-averse) mind of Arpon Raksit. He
      evidently likes interjections and parentheses, and is pictured
      above posing gracefully in a tranquil garden.</p>
  </article>

  <article class="section text">
    <h1>About the Author</h1>
    <p>Arpon is currently a student at Harvard College, mostly just
      studying math, but claiming to study computer science as
      well.</p>

    <p>Aside from these two wonderful things, he enjoys tennis,
      running, music, and fiction. The last of these primarily
      consists of watching an inordinate amount of television (<i>The
      Office</i>, <i>Community</i>, <i>Scrubs</i>, etc.), but also,
      e.g., reading Murakami and Vonnegut. The second to last is for
      the most part listening
      to <a href="//youtube.com/watch?v=VX3Y6ZWrRJE">Vampire
      Weekend</a>
      and <a href="//youtube.com/watch?v=S9F86cAoi3o">Toto's
      Africa</a>, but still includes playing saxophone once in a
      while. And the first involves a completely healthy (I swear)
      worship of <a href="//youtube.com/watch?v=lrBWS__Culk">Andy
      Murray</a>.</p>

    <p>Oh, and apparently he's playing around with web design.</p>
  </article>

  <article class="section text">
    <h1>Contact</h1>
    <p>Though he's heard it's all the rage, Arpon doesn't really do
      the twitter. Just <a href="mailto:arpon.raksit@gmail.com">email
      him</a> and hopefully he'll respond.</p>
  </article>

  <article class="section text">
    <h1>Colophon</h1>
    <p> This site was <a href="//github.com/arponr/gosite">built</a>
      (as an exercise) in <a href="//golang.org/">Go</a>,
      on <a href="//developers.google.com/appengine/docs/go/">Google
      App Engine</a>, and is set
      in <a href="//arkandis.tuxfamily.org/adffonts.html">ADF</a>'s
      Baskervald throughout.</p>
  </article>
</section>
{{end}}
