<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>arponr</title>
    <link href="/static/fonts.css" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$']]},
        "HTML-CSS": {availableFonts: ["TeX"], scale: 90}
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>

  <body>
    <header class="head wrapper">
      <div class="name">arponr</div>
      <a class="nav first{{template "nav_a"}}" href="/about">about</a> &middot;
      <a class="nav{{template "nav_b"}}" href="/">blog</a>
    </header>
    <div class="main wrapper">
      {{template "content" .}}
    </div>
  </body>
</html>

