{{define "nav_a"}}{{end}}
{{define "nav_b"}} active{{end}}
{{define "nav_c"}}{{end}}

{{define "content"}}
<form class="edit_post" action="/save-post/{{.Slug}}" method="POST">
  <textarea name="title" class="title">{{.Title}}</textarea>
  <textarea name="img_url" class="img_url">{{.ImgUrl}}</textarea>
  <textarea name="preview" class="preview">{{printf "%s" .Preview}}</textarea>
  <textarea name="content" class="content">{{printf "%s" .Content}}</textarea>
  <input class="save" type="submit" value="save post">
</form>
{{end}}
